@model List<OgrenciKayit.Models.Ogrenci>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <title>OgrenciListesi</title>
</head>
<body>
    <div class="container">
        <div class="jumbotron">
            <h1> Ogrenci Not Listesi</h1>
        </div>

        <div>
            <table class="table">
                <thead>
                    <tr>
                        <th>Ad</th>
                        <th>Soyad</th>
                        <th>Ders Adi</th>
                        <th>Not</th>
                    </tr>


                </thead>

                <tbody>
                    @foreach (var ogrenci in Model)
                    {
                        <tr>
                            <td>@ogrenci.Ad</td>
                            <td>@ogrenci.Soyad</td>
                            <td>@ogrenci.DersAd</td>
                            <td>@ogrenci.DersNot</td>
                        </tr>
                    }

                </tbody>


            </table>

        </div>

    </div>
</body>
</html>
